/* Hide default scrollbar */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Vertical scrollbar container */
.scrollbar-container {
  background-color: transparent; /* Default container color */
  width: 10px;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  pointer-events: none;
  opacity: 0;
  transition: background-color 0.2s ease-in-out, width 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

/* Vertical scrollbar thumb */
.scrollbar-thumb {
  background-color: #aaaaaaad; /* Default thumb color */
  width: 60%;
  position: absolute;
  top: 0;
  left: 20%;
  border-radius: 4px;
  transition: background-color 0.2s ease-in-out, width 0.2s ease-in-out, left 0.2s ease-in-out;
  pointer-events: auto;
}

/* Hovering or dragging the scrollbar */
.scrollbar-container:hover,
.scrollbar-container.scrollbar-active,
.scrollbar-thumb.dragging {
  background-color: #d2d2d3ad; /* Active container color */
  opacity: 1;
  pointer-events: auto;
}

.scrollbar-container:hover .scrollbar-thumb,
.scrollbar-container.scrollbar-active .scrollbar-thumb,
.scrollbar-thumb.dragging {
  background-color: #636363b9; /* Active thumb color */
  width: 100%;
  left: 0;
  cursor: grabbing;
}

/* Show vertical scrollbar when hovering or dragging */
.custom-scrollbar:hover .scrollbar-container,
.scrollbar-container.scrollbar-active {
  opacity: 1;
  pointer-events: auto;
}

/* Horizontal scrollbar container */
.horizontal-scrollbar-container {
  background-color: transparent; /* Default container color */
  height: 10px;
  position: absolute;
  bottom: 2px;
  left: 0;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transition: background-color 0.2s ease-in-out, height 0.2s ease-in-out, opacity 0.2s ease-in-out;
  /* The width will be calculated dynamically to not overlap with the vertical scrollbar */
}

/* Horizontal scrollbar thumb */
.horizontal-scrollbar-thumb {
  background-color: #aaaaaaad; /* Default thumb color */
  height: 60%;
  position: absolute;
  bottom: 20%;
  left: 0;
  border-radius: 4px;
  transition: background-color 0.2s ease-in-out, height 0.2s ease-in-out, bottom 0.2s ease-in-out;
  pointer-events: auto;
}

/* Hovering or dragging the scrollbar */
.horizontal-scrollbar-container:hover,
.horizontal-scrollbar-container.scrollbar-active,
.horizontal-scrollbar-thumb.dragging {
  background-color: #d2d2d3ad; /* Active container color */
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.horizontal-scrollbar-container:hover .horizontal-scrollbar-thumb,
.horizontal-scrollbar-container.scrollbar-active .horizontal-scrollbar-thumb,
.horizontal-scrollbar-thumb.dragging {
  background-color: #636363b9; /* Active thumb color */
  height: 100%;
  bottom: 0;
  cursor: grabbing;
}

/* Adjustments for responsiveness */
@media (max-width: 1000px) {
  .horizontal-scrollbar-container {
    opacity: 1;
    visibility: visible;
  }

  .horizontal-scrollbar-thumb {
    height: 60%;
  }

  .horizontal-scrollbar-container:hover,
  .horizontal-scrollbar-container.scrollbar-active {
    background-color: #d2d2d3ad;
    height: 10px;
  }

  .horizontal-scrollbar-thumb:hover,
  .horizontal-scrollbar-container:hover .horizontal-scrollbar-thumb,
  .horizontal-scrollbar-container.scrollbar-active .horizontal-scrollbar-thumb {
    height: 100%;
    bottom: 0;
    background-color: #636363b9;
  }
}
